body {
    font-family: 'Reggae One','Roboto', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 71.3%;
    margin: 0 auto;

    @media (min-width: 1600px) {
        width: 71.3%;
    }

    @include tablet {
        width: 95.6%;
    }

    @include mobile {
        width: 99%;
    }
}
