.cup {
    display: flex;
    position: relative;

}

.cup__img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}

.cup__text {
    font-weight: 400;
    font-family: 'Reggae One';
    font-size: 60px;
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    justify-content: space-around;
    background-size: cover;
    color: $green-text-color;
    background-image: url(../img/background/cup-spoon.png);
    @include mobile { 
        align-items: center;
        padding-left: 0;
        background-image: url(../../img/background/cup-spoon-mobile.png);
    }
}

 